---
import FBLayout from "../../../layouts/FBLayout.astro";
import { getCollection } from 'astro:content';

const allPosts = await getCollection('festung_breslau_article');
const { headings } = Astro.props;
const { frontmatter } = Astro.props;
const pageTitle = frontmatter ? frontmatter.title : "Blog Post List";
---

<FBLayout title={pageTitle}>

<h2>Lista artykułów</h2>

<ul class="fbpostslist">
    {allPosts.map((post) => <li><a href={`/festung-breslau/article/${post.slug}`}><span>{post.data.title}</span></a>
    <p><strong>Tagi:</strong> {post.data.tags}</p></li>)}
</ul>

</FBLayout>