---
import FBLayout from "../../layouts/LangnerLayout.astro";
import { getCollection } from 'astro:content';

const allChapters = await getCollection('maria_langner');
const pageTitle = "Maria Langner - Ostatni bastion"
---
<FBLayout title={pageTitle}>

<p>Podstrona ta została uruchomiona 2025-02-24, każdego dnia będzie dodawany kolejny rozdział, w sumie jest ich 39. Stopniowo też - oczywiście - zadbam, żeby to wyglądało lepiej.</p>

<h3>Spis treści:</h3>

<ol class="fbpostslist">
    {allChapters.map((post) => <li><a href={`/maria-langner/${post.slug}`}>{post.data.title}</a> - {post.data.description}</li>)}
</ol>

<h3>Odnośniki</h3>
<ul>
    <li>wikipedia <a href="https://de.wikipedia.org/wiki/Maria_Langner">Maria Langner</a></li>
    <li>Deutsche Biographie <a href="https://www.deutsche-biographie.de/gnd106277901.html#ndbcontent">Langner, Maria, geborene Pollitzer</a></li>
    <li>books.google <a href="https://books.google.pl/books/about/Die_letzte_Bastion.html?id=J8RdAAAAIAAJ&redir_esc=y">Die letzte Bastion</a></li>
</ul>
</FBLayout>