/* body {background-color: #110;} */
img {max-width: 100%;}
div.wrapper {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 1200px;
    background: url('../assets/images/fbimages/header-blur-1200x430.jpg') 0% 0% / 100% no-repeat rgba(250, 250, 250, .3);
    background-color: rgba(68, 21, 0, 0.9);
    margin: 0 auto;
}
main {
    /* background-color: rgba(68, 21, 0, 0.9);  */
    background-color: transparent; 
    color: #fec;
    display: flex; flex-direction: column;
}
aside {background-color: rgba(68, 21, 0, 0.9);}
article {
    /* min-width: 95%; */
    /* background-color: rgba(68, 21, 0, 0.9); */
    color: rgba(255, 238, 204, 0.7);}
    .tag {color: #dd6; background-color: rgba(250, 250, 25, .2); padding: 1rem;}
footer {background-color: #222;}

aside h3 {margin: .5rem 1rem;}
aside ul, .posts {list-style-type: none; padding-left: 0;}
aside li {margin-left: 1rem;}

.posts li {border: 1px solid #663; margin: 1rem; margin-bottom: 2rem; background-color: rgba(68, 21, 0, 0.9); border-radius: 0 0 20px 20px;}
.posts li h3 {padding: .6rem; padding-left: 2rem; margin: 0; margin-top: 1rem; background-color: rgba(250, 250, 250, 0.1); border-bottom: 1px solid #887; font-family: 'Times New Roman', Times, serif; font-weight: 100; font-style: italic; font-size: 1.6rem; color: rgb(255, 238, 204);}

main a, footer a {color: rgb(255, 136, 102); text-decoration: none;}
main a:hover, footer a:hover {color: rgb(255, 204, 119); text-decoration: underline;}

header {background: url('../assets/images/fbimages/header-blur-1200x430.jpg') 0% 0% / 100% no-repeat rgba(250, 250, 250, .3);}
header ul {display: flex; flex-direction: column; margin: .5rem 0; background-color: rgba(250, 250, 250, .5); list-style-type: circle; padding: 0 1rem 0 0}
header ul li {margin: 0; padding-left: 1rem;}
header a {
    /* color: #4d5d53; */
    color: #332;
    display: inline-block;
}
header ul a {font-size: 1.2rem; font-weight: 900; padding: 0 0 .4rem .1rem;}
header h1 a {display: block; text-align: center; background-color: rgba(250, 250, 250); font-family: "UnifrakturMaguntia", cursive; font-size: 2.5rem; margin: .5rem 0; padding: .5rem;}
header a:hover {text-decoration: underline;}
header h2 {text-align: center; background-color: #222; color: #ccc; margin: .5rem auto; padding: .3rem; border: 3px solid #ccc; border-width: 3px 0; font-family: "UnifrakturMaguntia", cursive; font-size: 2rem;}

footer {color: #aa9; padding: .5rem; text-align: center;}

.impressum h3 {margin: 0; padding: .5rem 1rem;}
.impressum p {background-color: #ddd; color: #222; margin: 0; padding: .7rem; font-family: 'Times New Roman', Times, serif; box-shadow: 0 0 2px 4px rgba(250,250,250,.3); border: 3px solid #333;}

.impressum p {display: inline-block;
    /* border: 3px solid #333;
    border-width: 3px 0; */
    /* font-family: 'UnifrakturMaguntia', cursive; */
    font-family: 'Times New Roman', Times, serif;
    /* padding: 4px; */
    margin: 0;
    
    }
p {margin: 1rem;}

article h2 {text-align: left; font-size: 1.5rem;
    border: 1px solid rgb(238, 238, 238);
    border-width: 2px 0px;
    background-color: rgba(250, 250, 250, 0.3);
    color: rgb(34, 34, 34);
    font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;
    margin: 0px 0.5rem;
    padding: 0.5rem 1rem;
    font-style: italic;
}
article h2 div {position: absolute; display: inline-block; font-size: 1rem; background-color: #ffe; margin: -1rem 0 0 -1.3rem; padding: .5rem; border: 1px solid #331; border-width: 3px 0;}
article section {background-color: rgba(68, 21, 0, 0.9); }
article header a {display: block;}

article h3 {display: inline-block; background-color: rgba(250, 250, 250, 0.1); border-bottom: 2px solid rgba(255, 238, 204, 0.5); padding: .5rem;}
article h4 {padding-left: 1rem;}

.boximagewrapper {
    width: calc(100% - 2px);
    margin: 2rem 0;
    padding: 0;
    border: 1px solid rgba(235, 235, 235, .2);
    background-color: rgba(25, 25, 25, .4);
    }
.boximagewrapper p {margin: 0 0;}
.boximagewrapper p:nth-of-type(1) {background-color:  rgba(20, 20, 20, .4); text-align: center;}
.boximagewrapper p img {margin: 0 auto; object-fit: contain; height: 100%;}
.boximagewrapper p:nth-of-type(2) {background-color: rgba(250, 250, 250, 0.1); padding: 1rem;}

.date1945 {margin: -1rem; padding: .7rem; background-color: #ddd; color: #333; width: 13rem; font-family: 'Times New Roman', Times, serif; font-weight: 900; box-shadow: 0 0 2px 4px rgba(250,250,250,.3); display:inline-block; border: 3px solid #333; border-width: 3px 0; }
.title h2 { border-bottom: 1px solid rgba(255, 238, 204, .5); background-color:  rgba(250, 250, 250, .1); font-family: Allegreya;}
.description-image {display: flex; flex-direction: column;}

.postsummarytags {border: 1px solid #eef; border-width: 1px 0; background-color: #221; padding: .3rem 0 .3rem .7rem;}
.postsummarylink {text-align: right; margin: 0 0 0 2rem; border: 1px solid #443; border-width: 1px 0 0 1px; border-radius: 20px 0 0 0; max-width: 90%; padding: .5rem; }

.fbinfobox {border: 3px solid #442; border-radius: 13px; background-color: rgba(255, 255, 170, .1); margin: 1rem .5rem;}
.fbinfobox h3 {margin: 0; background-color: #441; color: #bb7; padding: 1rem; border-radius: 10px 10px 0 0;}
.fbinfobox ul {display: flex; flex-direction: row; flex-wrap: wrap; list-style-type: none; margin: .4rem; padding-left: .3rem;}
.fbinfobox li {margin: .2rem .3rem;}
.fbinfobox a {border: 1px solid rgba(221, 221, 170, .2); border-radius: 5px; padding: .2rem .4rem; margin: .2rem;}
.fbinfobox a:hover {border: 1px solid  rgba(221, 221, 170, .4); background-color: rgba(0, 0, 0, .1); }

.pagination-default {display: flex; flex-wrap: wrap; border: 1px solid #ff0; border-width: 1px 0; padding: .4rem; margin: 2rem 0;}
.pagination-default span, .pagination-default a {text-align: center; flex: 1; flex-basis: 2rem; min-width: 3rem;}

.seealso {border: 3px solid rgb(0, 255, 255); color:  rgb(255, 238, 204); margin: 1rem; padding: 1rem;}

.div-tags {border: 1px solid #996; border-width: 1px 0; margin: .5rem 0;}
.div-tags h4 {margin: .5rem 0;}
.div-tags ul {display: flex; flex-direction: row; flex-wrap: wrap; list-style-type: none; padding-left: 1rem; margin: 0;}
.div-tags li {margin: .4rem;}
.div-tags a {text-decoration: underline; display: inline-block;}

blockquote {color: rgb(255, 238, 194, .6); position: relative; margin-left: 2rem;}
blockquote::before {
    position: absolute;
    content: "\"";
    color: rgba(255, 238, 204, 0.4);
    left: -1.5rem;
    top: -1rem;
    font-size: 5rem;
    width: 40px;
    font-family: 'UnifrakturMaguntia', cursive;
}

.fbpostslist {list-style-type: circle;}
.fbpostslist li {background-color: rgba(31, 31, 21, .4); margin: 1rem; border: 1px solid #330; border-width: 1px 0;}
.fbpostslist span:nth-of-type(1) {padding: .4rem 1rem; margin-top: -1rem; display: inline-block; color: #333; background-color:rgba(255, 238, 204, .6)}
.fbpostslist span:nth-of-type(2) {padding: .4rem 1rem; display: inline-block; color: #332; background-color: rgba(255, 238, 204, 0.8); border: 1px solid #ddc; text-transform: uppercase;}
.fbpostslist a:hover span {text-decoration: underline; color: #332;}
.fbpostslist p {background-color: #222; border: 1px solid #663; border-width: 1px 0; padding: .3rem; margin: .3rem 0;}

.fbblockquote {
    /* white-space: pre;  */
    /* word-break: break-all; */
}
/* .fbblockquote p {display: block;} */

ul.bibliography {list-style-type: circle;}
ul.bibliography span:nth-of-type(1) {display: inline-block; margin-left: -2.5rem; color: rgba(251, 251, 201, .5); background-color: #330; color: #772;}
ul.bibliography span:nth-of-type(2) {display: inline-block; margin-left: 0; color: rgba(251, 251, 201, .5)}

.update {margin: 1rem; padding: .1rem .5rem; border: 1px solid #ff2; border-radius: 10px; background-color: #998; color: #221;}

/* article p {font-size: 1.05rem} */

@media (min-width: 660px) {
    header h1 a {background-color: rgba(250, 250, 250, .5); color: rgba(51, 51, 34, .7); text-decoration: none;}
    header h1 a:hover {text-decoration: underline;}
    header h2 {width: 24rem; border-width: 3px;}
}

@media (min-width: 800px) {
    header ul {flex-direction: row; justify-content: space-between; max-width: 30rem; list-style-type: none;}
    main {flex-direction: row; }
    aside {flex-basis: 23rem;}
    article {flex: 1; margin-left: 1rem;}
    .article-toc {top: 0; position: sticky;}
}

@media (min-width: 900px) {
    .description-image {flex-direction: row-reverse; align-items: flex-start;}
    .description-image img {object-fit: contain; }
    .description-image p {margin-top: 0;}
    article {max-width: 50rem;}
}

/* PRTESENTATION */


.article-toc a:hover {color: rgba(250, 250, 50, .7);}
a.active {color: rgba(250, 250, 50, .7);  background-color: rgba(250, 250, 250, .1);}
