main {display: flexbox; flex-direction: column;}
aside { background-color: #cca; padding-right: 1rem;}

article {padding: 1rem;}
article ul {list-style-type: ' - '; padding-left: 1.2rem; margin: 0;}
article p { margin: .4rem;}
article pre {margin-left: 1rem;}

@media (min-width: 800px) {
    aside {width:12rem; max-width: 22rem;}
    article {flex: 1;}
    main {flex-direction: row;}
}

@media (min-width: 1100px) {
    aside {width: 22rem; flex-basis: 22rem;}
}