---
// https://medium.com/@gmainapro/creating-breadcrumbs-in-astro-4c7280d599fa
const {currentPath}=Astro.props; // with leading '/'  e.g /cars/toyota/sedans/toyota-crown
const getBreadcrumbs=(path)=>{
    const splitPath=path.split('/'); // e.g. result : [ '' ,'cars', 'toyota', 'sedans', 'toyota-crown']
    if (path.endsWith("/")) splitPath.pop(); // remove last element if path has a trailing '/'    let breadcrumbs=[]
  
    while(splitPath.length>2){ // stop until where the first path preceeding the trailing '/' at index 1 i.e ['', 'first_path', 'second_path' , ...]
    splitPath.pop()
    breadcrumbs.push(splitPath.join('/'))
    }
    
    return breadcrumbs
}

const breadcrumbs=getBreadcrumbs(currentPath).reverse();
---

<div>
 {
    breadcrumbs &&
    breadcrumbs.map(breadcrumb=>(
        
        <a href={breadcrumb}>{breadcrumb.split('/').pop()}</a>
    ))
 }
</div>
<style>
    div{
        display:flex;
        justify-content: center;
        align-content:center;
        gap:2rem;
    }
</style>
