---

---

<div class="fbinfobox">
<h3>Artykuły związane z Dolnym Śląskiem:</h3>

<ul>
    <li><a href="/festung-breslau/article/klasztor-augustianow">Klasztor augustianów na Wyspie Piaskowej</a></li>
    <li><a href="/festung-breslau/article/zoo/">Wrocławski Ogród Zoologiczny (1865 - 1945)</a></li>
    <li><a href="/festung-breslau/article/wojsko-dlnslask/">Wojsko na Dolnym Śląsku 1818-1945</a></li>
    <li><a href="/festung-breslau/article/adolf-bertram/">Biskup Adolf Bertram (1859-1945)</a></li>
    <li><a href="/festung-breslau/article/hanna-reitsch/">Kapitan Hanna Reitsch (1912-79)</a></li>
    <li><a href="/festung-breslau/article/depesza-eisenhowera/">Depesza Eisenhowera (SCAF 252)</a></li>
    <li><a href="/festung-breslau/article/kl-gross-rosen/">Obóz koncentracyjny Groß-Rosen (1940-45)</a></li>
    <li><a href="/festung-breslau/article/grupa-drobnera/">Grupa Drobnera</a></li>
</ul>
</div>