---

---

<div class="fbinfobox">
<h3>Europa:</h3>

<ul>
<li><a href="/festung-breslau/article/albania">Albania</a></li>
<li><a href="/festung-breslau/article/bulgaria">Bułgaria</a></li>
<li><a href="/festung-breslau/article/chorwacja">Chorwacja</a></li>
<li><a href="/festung-breslau/article/jugoslawia">Jugosławia</a></li>
<li><a href="/festung-breslau/article/serbia">Serbia</a></li>
<li><a href="/festung-breslau/article/slowacja">Słowacja</a></li>
<li><a href="/festung-breslau/article/rumunia">Rumunia</a></li>
<li><a href="/festung-breslau/article/wegry">Węgry</a></li>
</ul>
</div>