---
---

<div class="fbinfobox">
<h3>Wojna na Pacyfiku:</h3>

<ul>
<ul><a href="/festung-breslau/article/pacyfik-japonia">Japonia - opis i historia</a></ul>
<ul><a href="/festung-breslau/article/pacyfik-1937-44">1937-44</a></ul>
<ul><a href="/festung-breslau/article/pacyfik-1945">1945</a></ul>
<ul><a href="/festung-breslau/article/pacyfik-iwo-jima">Bitwa o Iwo Jimę</a></ul>
<ul><a href="/festung-breslau/article/pacyfik-bron">Broń</a></ul>
<ul><a href="/festung-breslau/article/pacyfik-yanagi/">Misje Yanagi</a></ul>
<ul><a href="/festung-breslau/article/pacyfik-podsumowanie/">Podsumowanie</a></ul>
</ul>
</div>