---
import MainNavigation from './MainNavigation.astro'
import FooterNavigation from './FooterNavigation.astro'
import '../styles/md.css'
---

<footer>
    <MainNavigation />
    <hr />
    <FooterNavigation />
    <hr />
    <p><span><a href="/">dygresje.info</a></span> | Wszystkie prawa zastrzeżone.</p>
    <p>Strona wykonana w&nbsp;<a href="https://astro.build/">Astro&nbsp;v5</a> @2025; hosting:&nbsp;<a href="https://www.netlify.com/">Netlify</a></p>
</footer>