---
---

<nav class="footernavigation">
    <ul>
        <li><a href="/o_mnie">O mnie</a></li>
        <li><a href="/o_stronie">O stronie</a></li>
        <li><a href="/sitemap">Mapa strony</a></li>
        <li><a href="/hosting">Hosting</a></li>
    </ul>
 </nav>