---
---

<nav class="mainnavigation">
    <ul>
        <li><a href="/">Strona główna</a></li>
        <li><a href="/turystyka">/ turystyka</a></li>
        <li><a href="/it">/ IT</a></li>
        <li><a href="/lang">/ lang</a></li>
        <li><a href="/kontakt">kontakt=>@</a></li>
    </ul>
 </nav>