---
import HeadMeta from '../components/HeadMeta.astro'
import '../styles/global.css';
import '../styles/prism.css';
export interface Props {
  title: string;
  img?: string;
  description1? : string;
};
const {title, img} = Astro.props;
---

<html lang="pl" class="dark">
	<head>		
        <HeadMeta {title} {img} />
                <!-- Google tag (gtag.js) -->
                <script is:inline src="https://www.googletagmanager.com/gtag/js?id=G-2HGNS7Z9HD"></script>
                <script is:inline>
                window.dataLayer = window.dataLayer || [];
                function gtag() {dataLayer.push(arguments);}
                gtag("js", new Date());
                gtag("config", "G-2HGNS7Z9HD");
                </script>                           
	</head>
	<body class="data-line">
    
        <div class="wrapper">
            <slot />
        </div>
        <script src="../scripts/prism.js"></script>
   </body>
</html>

<script>
        addIntersectionObserver();
        
        function addIntersectionObserver() {
            const observer = new IntersectionObserver((sections) => {
                // console.log('sections', sections);
                sections.forEach((section) => {
                    const heading = section.target.querySelector('h2, h3, h4, h5');
                    if (!heading) return;
                    const id = heading.getAttribute('id');
        
                    // Get the link to this section's heading
                    const link = document.querySelector(`nav.toc li a[href="#${id}"]`);
                    if (!link) return;
        
                    // Add/remove the .active class based on whether the
                    // section is visible
                    const addRemove = section.intersectionRatio > 0 ? 'add' : 'remove';
                    link.classList[addRemove]('active');
                });
            });
        
            document.querySelectorAll('article section').forEach((section) => {
                observer.observe(section);
            })
        }
    </script>
