---
import '../styles/global.css';
import '../styles/prism.css';
const pageTitle = "dygresje.info | Tadeusz Dudkowski homepage";
---

<html lang="pl" class="dark">
	<head>
		<meta charset="utf-8" />
		<title>{pageTitle}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href="https://fonts.cdnfonts.com/css/hultog" rel="stylesheet">
                <link rel="preconnect" href="https://fonts.googleapis.com">
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                <link href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=UnifrakturMaguntia&display=swap" rel="stylesheet">
                <link rel="sitemap" href="/sitemap-index.xml" />
           
                <script is:inline src="https://www.googletagmanager.com/gtag/js?id=G-2HGNS7Z9HD"></script>
                <script>
                    declare global {
                        interface Window {
                            MyLib: any;
                            dataLayer: any[];
                            gtag: (...args: any[]) => void;
                        }
                    }
                    import { onCLS, onINP, onLCP, onTTFB, onFCP } from "web-vitals";
                    document.addEventListener("astro:page-load", () => {
                        window.dataLayer = window.dataLayer || [];
                        window.gtag = function gtag(...args: any[]) {
                            window.dataLayer.push(arguments);
                        };
                        window.gtag("js", new Date());
                
                        window.gtag("config", "G-2HGNS7Z9HD");
                
                        function sendToGoogleAnalytics({name, delta,value, id}: 
                    {name: string; delta: number;value: number; id: string;}) {
                            window.gtag("event", name, {
                                value: delta, 
                                metric_id: id, 
                                metric_value: value,
                                metric_delta: delta,
                            });
                        }
                
                        onCLS(sendToGoogleAnalytics);
                        onINP(sendToGoogleAnalytics);
                        onLCP(sendToGoogleAnalytics);
                        onTTFB(sendToGoogleAnalytics);
                        onFCP(sendToGoogleAnalytics);
                    });

                    window.gtag("consent", "default", {
          ad_storage: "denied",
          ad_user_data: "denied",
          ad_personalization: "denied",
          analytics_storage: "denied",
        });
		window.gtag("config", "G-2HGNS7Z9HD");
                </script>
	</head>
	<body class="data-line">
    
        <div class="wrapper">
<slot title={pageTitle} />
        </div>
        <script src="../scripts/prism.js"></script>
   </body>
</html>

<script>
        addIntersectionObserver();
        
        function addIntersectionObserver() {
            const observer = new IntersectionObserver((sections) => {
                console.log('sections', sections);
                sections.forEach((section) => {
                    const heading = section.target.querySelector('h2, h3, h4, h5');
                    if (!heading) return;
                    const id = heading.getAttribute('id');
        
                    // Get the link to this section's heading
                    const link = document.querySelector(`nav.toc li a[href="#${id}"]`);
                    if (!link) return;
        
                    // Add/remove the .active class based on whether the
                    // section is visible
                    const addRemove = section.intersectionRatio > 0 ? 'add' : 'remove';
                    link.classList[addRemove]('active');
                });
            });
        
            document.querySelectorAll('article section').forEach((section) => {
                observer.observe(section);
            })
        }
    </script>
