---
import BaseLayout from "./BaseLayout.astro";
import '../styles/langner.css'
const { frontmatter } = Astro.props;
---

<BaseLayout>
    <header><h2>Maria Langner "Ostatni bastion"</h2></header>
    <main>
        <aside>
            <nav>
                <ul><li><a href="/">Strona główna dygresje.info</a></li></ul>
                <ul><li><a href="/maria-langner">Maria Langner "Ostatni bastion"</a></li></ul>
                <ul><li>Książka jest dodatkiem do: <a href="/festung-breslau">Festung&nbsp;Breslau&nbsp;1945 täglich</a></li></ul>
            </nav>
        </aside>
        <article>
            {frontmatter && frontmatter.title ? <h2>{frontmatter.title}</h2>: null}
        <slot />
        </article>
    </main>
    <footer>

        <p><a href="/maria-langner">Maria Langner "Ostatni bastion"</a></p>
        <p><a href="/">dygresje.info</a> | <a href="/festung-breslau">Festung Breslau 1945 täglich</a></p>
        
    </footer>
</BaseLayout>