---
import BaseLayout from "./BaseLayout.astro";
import '../styles/langner.css'
const { frontmatter } = Astro.props;
const ogimage = '/fbimages/langner-header1.jpg'
const pageTitle = 'Maria Langner "Ostatni bastion" | dygresje.info'
---

<BaseLayout img={ogimage} title={pageTitle}>
    <header><h1>Maria Langner "Ostatni bastion"</h1></header>
    <main>
        <aside>
            <nav>
                <ul>
                <li><a href="/">Strona główna dygresje.info</a></li> 
                <li>Książka jest dodatkiem do: <a href="/festung-breslau">Festung&nbsp;Breslau&nbsp;1945 täglich</a></li>
                </ul>
            </nav>

          <nav>
            <ul>
                <li><a href="/maria-langner">Maria Langner "Ostatni bastion"</a></li>
                <li><a href="/maria-langner/maria-langner">Maria Lagner</a> o autorce</li>
                <li><a href="/maria-langner/ostatni-bastion">Ostatni bastion</a> o książce</li>
            </ul>
            </nav>
        </aside>
        <article>
            {frontmatter && frontmatter.title ? <h2>{frontmatter.title}</h2>: null}
        <slot />
        </article>
    </main>
    <footer>

        <p><a href="/maria-langner">Maria Langner "Ostatni bastion"</a></p>
        <p><a href="/">dygresje.info</a> | <a href="/festung-breslau">Festung Breslau 1945 täglich</a></p>
        
    </footer>
</BaseLayout>